<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>
        .demo{
            width: 100px;
            height: 100px;
            background-color: gray;
            border: 1px solid black;
            display: inline-block;
            margin: 20px;
        }
        .red{background-color: red;}
        .green{background-color: green;}

        #effect {
        width: 100px;
        height: 100px;
        border: 1px solid black;
        }

        .highlight {
        background-color: red;
        width: 200px !important;
        }

        .shrink {
        background-color: gray;
        width: 50px !important;
        }
    </style>
</head>
<body>

    <div id="exercise4">
        <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
        <div>
            <button @click="startEffect">Start Effect</button> {{ isfalse }}
            <div id="effect" :class="[{highlight: isfalse}, {shrink: !isfalse}]"></div>
        </div>
        <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
        <div>I got no class :(</div>
        <!-- 3) Let the user enter a class (create some example classes) and attach it -->
        <div>
            <input type="text">
            <div></div>
        </div>
        <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
        <div>
            <input type="text">
            <input type="text">
            <div></div>
        </div>
        <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
        <div>
            <input type="text">
            <div></div>
        </div>
        <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
        <div>
            <button v-on:click="startProgress">Start Progress</button>
            <div></div>
        </div>
    </div>

    <div id="app3">
        <div class="demo" @click="attachedRed = !attachedRed" :class="{red: attachedRed}"></div>
        <div class="demo" :class="divClasses"></div>
        <div class="demo" :class="color"></div>
        <div class="demo" :class="[color, {red: attachedRed} ]"></div>
        <div class="demo" :style="{backgroundColor: color}"></div>
        <div class="demo" :style="myStyle"></div> 
        <div class="demo" :style="[myStyle, {height: width + 'px'} ]"></div>
        <br>
        color: <input type="text" v-model="color">
        width: <input type="text" v-model="width">
    </div>

    <div id="exercise3">
        <!-- 1) Show a "result" of 'not there yet' as long as "value" is not equal to 37 - you can change "value" with the buttons. Print 'done' once you did it -->
        <div>
            <p>Current Value: {{ value }}</p>
            <button @click="value += 5">Add 5</button>
            <button @click="value += 1">Add 1</button>
            <p>{{ result }}</p>
        </div>
        <!-- 2) Watch for changes in the "result" and reset the "value" after 5 seconds (hint: setTimeout(..., 5000) -->
        <div>
            Set the timer: <input type="text" v-model="timeout">
            <p>{{ value }}</p>
        </div>
    </div>

    <div id="app2">
        <button v-on:click="counter++">Increase</button>
        <button v-on:click="counter--">Decrease</button>
        <p>Counter: {{ counter }} </p>
        <p>Resoult: {{ output }} </p>
    </div>

    <div id="exercise2">
        <!-- 1) Show an alert when the Button gets clicked -->
        <div>
            <button v-on:click="alert">Show Alert</button>
        </div>
        <!-- 2) Listen to the "keydown" event and store the value in a data property (hint: event.target.value gives you the value) -->
        <div>
            <input type="text" v-on:keydown="store">
            <p>{{ value }}</p>
        </div>
        <!-- 3) Adjust the example from 2) to only fire if the "key down" is the ENTER key -->
        <div>
            <input type="text" v-on:keydown.enter="store2">
            <p>{{ value2 }}</p>
        </div>
    </div>

    <div id="fun">
        <p v-on:mousemove="updateCoordinates">coordinates: {{ x }} and {{ y }} </p>
        <p>{{ number }} </p>
        <button v-on:click="increase(2)">Plus two</button>
        <button v-on:click="minus(2)">Minus two</button>
    </div>

    <div id="exercise">
        <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
        <p>VueJS is pretty cool - {{ name }} ({{ age }})</p>
        <!-- 2) Output your age, multiplied by 3 -->
        <p>{{ newAge() }}</p>
        <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
        <p>{{ random() }}</p>
        <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
        <div>
            <img style="width:100px;height:100px" v-bind:src="link">
        </div>
        <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
        <div>
            <input type="text" v-model="name">
        </div>
    </div>

    <hr>
    <div id="app">
        <button v-on:click="increase">Click me to increase</button>
        <p>{{ number }} </p>
        <br>
        <input type="text" v-on:input="changeTitle">
        <p>{{ title }}</p>
        <p><span v-if="seen">Now you see me</span></p>
        <span v-bind:title="messag">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
        <ol>
            <li v-for="todo in todos">
            {{ todo.text }}
            </li>
        </ol>
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
        <p>{{ info }}</p>
        <input type="text" v-model="info">
        <p><a v-bind:href="link">Google</a></p>
        <br>
        <p v-html="finishedLink"></p>
    </div>

    <script src="app.js"></script>
</body>
</html>



